#viewPhotos {
    border: solid lightsalmon 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.imgWrapper{
    border: solid rgb(11, 255, 255) 4px;
    margin: 2px;
    width: 90vw;
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgWrapper h1{
    padding: 5px;
    color: #264E9A;
    font-size: 2.5em;
}

#viewImages {
    border: rgb(243, 142, 142) 4px solid;
    display: block;
    height: 85%;
    margin: 10px 0;
    padding: 10px;
    text-align: center;
}

#imgMap {
    border: rgb(30, 255, 0) solid 4px;
    height: 97%;
    overflow-y: scroll;
    padding: 10px;
}

.imageSep {
    width: 80%;
}
.imagesContainer{
    border: solid pink 4px;
    background-color: rgba(255, 255, 255, 0.295);
    border-radius: 5px;
    padding: 10px;
    margin: 15px;
}