#viewPhotos {
    border: solid lightsalmon 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* #individualImgWrapper{
    border: solid rgb(148, 251, 161) 4px;
    width: 80%;
    display: flex;
} */

.imgWrapper{
    border: solid rgb(11, 255, 255) 4px;
    /* margin: 12px; */
    margin: 2px;
    width: 90vw;
    height: inherit;
    /* overflow-y: inherit; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imageSep {
    /* border: solid blue 3px; */
    width: 100%;
    margin: 4px;
}
.imagesContainer{
    /* border: solid pink 4px; */
    margin: 3px;
    display: flex;
    justify-content: center;
    width: 80%;
    flex-wrap: wrap;
}