#app{
  background: linear-gradient(135deg, #F5B32E 49%, rgb(243, 243, 243) 49%);
  height: 100vh;
  overflow-y: scroll;
  margin: 5px;
}

@media only screen and (min-width: 600px) {
  #contents {
    margin:auto;
    width: 80%;
  }
}

.navContainer{
  position: sticky;
  top: 0;
  background-color: #fcfcfc;
  width: 100%;
  display: flex;
  /* margin: 20px; */
  justify-content: space-between;
  align-items: center;
}
.navComponentWrap {
  /* border: rgb(216, 216, 111) solid 4px; */
  width: 50%;
}
.topImageWrap {
  /* border: lime 4px solid; */
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
.navContainer img {
  width: 80%;
  /* border: solid grey 4px; */
}
#titleHead{
  text-align: center;
  font-size: 4em;
  color: #264E9A;
  font-weight: bolder;
}
#mainBody{
  /* margin-top: 10%; */
  /* border: 4px solid rgb(0, 0, 0); */
  height: 90vh;
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  /* display: flex;
  justify-content: center;
  margin: 135px 0px;
  padding: 5em; */
}
.appCnLogo {
  border: solid 4px blue;
  display: flex;
  justify-content: space-between;
  align-self: flex-end;
  /* position: sticky;
  bottom: 0; */
}
.appCnLogo img {
  width: 100%;
  
}
/* cn yellow - F5B32E */
/* cn blue 264E9A */