#app {
  border: 4px solid orange;
}
.navContainer{
  border: solid 4px hotpink;
  position: sticky;
  top: 0;
  background-color: rgb(253, 186, 60);
  /* margin: 20px; */
}

#mainBody{
  /* margin-top: 10%; */
  border: 4px solid lime;
}