.metaWrapper{
    /* border: solid plum 4px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90%;
}

.imageCont {
        /* border: solid green 4px; */
    width: 80%;
    display: flex;
    justify-content: center;
    margin: auto;
}

.imageCont img {
    /* border: orange 4px solid; */
    width: 70%;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.295);
    border-radius: 5px;
}

#searchInput {
    /* border: solid indianred 4px; */
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

#imageRes{
    margin: 10px auto;
}
.searchResCont{
    /* border: solid lime 4px; */
    width: 100%;
    margin-top: 20px;
    height: 80%;
    overflow-y: scroll;
    display: block;
}

.metaWrapper h1{
    padding: 5px;
    color: #264E9A;
    font-size: 2.5em;
}
#toTopCont {
    /* border: solid 4px blue; */
    display: flex;
    justify-content: center;
    margin: 10px;
}